<h1>Token created</h1>

<p>
  Your newly created token is:<br />
  <pre><%= @api_token %></pre>
</p>

<p>This is the only time that you can see it, so store it somewhere safe.</p>

<span>
  <.link href={~p"/api_tokens"}>Back</.link>
</span>
