<.header class="pb-4">
  Token created
</.header>

<p>
  Your newly created token is:<br />
  <pre class="bg-slate-200 mb-4 p-2"><%= @api_token %></pre>
</p>

<p class="mb-4">This is the only time that you can see it, so store it somewhere safe.</p>

<span>
  <.link class="text-sm font-semibold leading-6 text-zinc-900 hover:text-zinc-700" href={~p"/api_tokens"}>Back</.link>
</span>
